/*global*/
@import url('https://fonts.googleapis.com/css?family=Cairo');

body{
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
}

.clr{
    clear: both;
}

a{
    text-decoration: none;
    color: #fff;
}

span{
    color: #0197F6;
}

.btn-purple{
    background: #630460;
    border: 1px solid #630460;
    border-radius: 5px;
    padding: 2px 15px;
    font-size: 1.3rem;
}

.btn-purple:hover{
    color: black;
    background: #fff;
}


.btn-white{
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 2px 15px;
    font-size: 1.3rem;
}

.btn-white:hover{
    color: black;
    background: #fff;
}

.btn-blue{
    border: 1px solid #0197F6;
    color: #0197F6;
    border-radius: 5px;
    padding: 2px 15px;
    font-size: 1.3rem;
}

.btn-blue:hover{
    color: #fff;
    background: #0197F6;
}

.container{
    width: 100%;
    overflow: hidden;
}

hr{
    font-size: 50px;
}
/* end global*/

/*start navbar*/
nav{
    background: #171F30;
    padding: 0.2rem 0 0.5rem 0.5rem;
    position: fixed;
    width: 100%;
}

nav h1{
    color: #fff;
    font-size: 1.7rem;
    display: inline;
    font-weight: 600;
}

nav .list{
    float: right;
    padding: 8px 100px 0 0;
}

nav ul{
    display: inline;
}

nav li {
    display: inline-block;
    list-style: none;
}

nav li a{
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    display: block;
    padding: 3px 16px;
    font-size: 1.1rem;
}

nav li a:hover{
    background-color: #fff;
    color: #171F30;
}
/*end navbar*/

/*start main*/

.main{
   background: url(https://source.unsplash.com/De8wMYoSSBc);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    text-align: center;
}

.main h1{
    color: #fff;
    text-transform: capitalize;
    margin: 0 0 20px 0;
    padding: 0;
}

.main h1:first-of-type{
    font-size: 7rem;
    margin: 0 0 -2.5rem 0;
    padding: 10rem 0 0;
}

/*end main*/

/*start who are we*/

.who-are-we, .current-event{
    text-align: center;
    width: 75%;
    height: 80vh;
    margin: auto;
    padding: 50px;
}

.who-are-we iframe {
    float: left;
    display: inline-block;
    padding-top:130px; 
}

.who-are-we h1, .current-event h1, .code-geist h1{
    text-align: center;
    font-size: 2.5rem;
    color: #000000;
    padding: 50px 0 0 0 ;
    margin: 0 0 -20px 0;
}

.who-are-we >.info, .code-geist > .info{
    float: right;
    display: inline-block;
    text-align: left;
    padding-left: 10px;
    width: 49%;
}

/*end who are we*/

/*start current event*/

.current-event >.info{
    float: left;
    display: inline-block;
    text-align: left;
    padding-left: 10px;
    width: 49%;
}

.current-event iframe{
    float: right;
    display: inline-block;
    padding-top:130px; 
}

.current-event .info a{
    text-align: center;
}

/*end current event*/

/*start events*/
.events{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #4C4C4C;
    width: 100%;
    text-align: center;
    padding: 100px 0;
}

.event{
    background: #555555;
    display: inline-block;
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),-30px 0px 40px rgba(0, 0, 0, 0.1);    
    width: 70%;
    margin: auto; 
    margin-bottom: 30px;
}

.event img{
    border-radius: 3px;
}

.event h3{
    color:#FFFFFF;
}

.event p{
    color:#FFFFFF;
}

.event .footer{
    color:#FFFFFF;
    background-color: #0197F6;
    font-size: .9rem;
    padding: 12px 0;
    border-radius: 3px;
}

/*end events*/

/*start code geist*/

.code-geist{
    background-color: #000000;
    background-image: url('../93fff198055c-codeggg.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 80vh;
    text-align: center;
    padding: 50px;
}

.code-geist > .info{
    text-align: center;
    width: 40%;
    margin: auto;
    padding: 50px 100px 0 0;
}

.code-geist p{
    color: #fff;
    font-size: 1.1rem;
}

.code-geist h1{
    color: #fff;
    font-size: 3rem;
    font-weight: 200;
}

/*end code geist*/

/*start contact*/

.contacts{
    background-color: #0297F6;
    text-align: center;
    height: 80vh;
}

.contacts form{
    width: 50%;
    margin: auto;
}

.contacts h1{
    padding: 30px 0 0 0;
    color: #fff;
    font-size: 3rem;
}

.contacts h3{
    margin-top: -40px;
}

.contacts .inputs{
    text-align: center;
}

.contacts input{
    border: none;
    border-radius: 3px;
    height: 40px;
    display: inline-block;
    margin: 10px;
    width: 33%;
}

.contacts input[placeholder=" "]{
    border: none;
    border-radius: 3px;
    display: block;
    margin: 20px 20px 30px;
    width:100%;
    padding-bottom: 110px;
}

.contacts a{
    font-size: 1.5rem;
    border-radius: 25px;
    padding: 8px 60px;
}

/*end contact*/

/* start footer*/

footer{
    background-color: #333333;
    color: #fff;
    border-top: 1px #fff solid;
    padding: 10px;
}

footer text{
    float: left;    
    width: 70%;
    text-align: center;
}

footer text a{
    color: #0197F6;
}

footer text a:hover{
    text-decoration: underline;
    color: #0197F6;
    opacity: 0.8;
}

footer ul{
    display: inline;
}

footer ul li {
    color: #333333;
    display:inline-block;
    text-align: center;
    width:26px;
    height:26px;
    padding: 3px;
    margin:5px;
    background-color:#fff;
    border-radius: 50%;
    cursor:pointer;
}

footer ul li:hover{
    background-color: #4B5356; 
    opacity:1;
}

/*end footer*/